---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html class="theme-darkRR" lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="radiant-results/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<script is:inline>
			const theme = (() => {
			  if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
				console.log(localStorage.getItem("theme") + " from local storage ");
				return localStorage.getItem("theme");
				
				
			  }
			  if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
				console.log("dark");
				return "dark";
			  }
			  console.log("light");
			  return "light";
			})();
		  
			if (theme === "light") {
			  document.documentElement.classList.remove("dark");
			} else {
			  document.documentElement.classList.add("dark");
			}
			window.localStorage.setItem("theme", theme);
		</script>
		
		
	</head>
	<body>
		<slot />
	</body>
</html>

